/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.wcvo-variation-option {
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wcvo-variation-option .wcvo-option {
    flex-grow: 1;
}

.wcvo-variation-option .title {
    flex-grow: 2;
}

.wcvo-variation-option .wcvo-quantity {
    flex-grow: 1;
    border-radius: 3px;
    background-color: #f2f2f2;
    border: 1px solid #e8e8e8;
}

.wcvo-variation-option .wcvo-quantity:disabled{
    opacity: .4;
}